<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
{% extends 'base.html' %}
<body>
{% block content %}
    <p align="center">Login</p>
    <form  method="post" name="my form">
    {% csrf_token %}
        <table align="center" border="1" cellspacing="0" cellpadding="0" width="350px" height="200px" background="/static/image/2.png">
            <tr>
                <td align="center">Mail:{{ form.mail }}</td>
            </tr>
            <tr>
            <td align="center">Pass:{{ form.password }}</td>
            </tr>
            <tr>
                <td align="center">{{ form.captcha }}</td>
            </tr>
            <tr>
                <td align="center" ><input value="submit" type="submit" name="submit" class="submitbutton submitbuttonhover">
    <input name="resrt" type="reset" value="reset" class="submitbutton submitbuttonhover"></td>
            </tr>
        </table>


    </form>
    {% if enabled == False %}
        <em>账号密码错误,请重试！</em>
        {% endif %}

{% endblock %}
</body>
</html>