<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link rel="stylesheet" href="/static/text.css" type="text/css">
</head>
{% extends 'base.html' %}
{% load static %}
<body>
{% block content %}
    <div>
    <a href="{% url 'notes:create_topic' %}" class="text"> New Record</a>
    <ul>
    {% for topic in topics %}
        <li><a href="{% url 'notes:topic' topic.id %}" class="text"><b>{{ topic }}</b></a></li>
        {% empty %}
        No topics added recently.
    {% endfor %}
    </ul>
    </div>
{% endblock %}
</body>
</html>