<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>

</head>
<body>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<center>
    {{ response }}
<form method="post">
    <table width="350px" height="200px" border="2" cellpadding="0" cellspacing="0" background="/static/image/2.png">
        <tr>
            <td align="center">&nbsp;&nbsp;Mail:{{ form.usermail }}</td>
        </tr>
        <tr>
            <td align="center">&nbsp;&nbsp;Pass:{{ form.userpass }}</td>

        </tr>
        <tr>
            <td align="center">Name:{{ form.name }}</td>
        </tr>
        <tr>
            <td align="center">  <input value="submit" type="submit" name="submit" class="submitbutton submitbuttonhover">
    <input name="resrt" type="reset" value="reset" class="submitbutton submitbuttonhover"></td>
        </tr>
    </table>
    {% csrf_token %}

</form>
</center>
{% endblock %}
</body>
</html>